

#button{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color:rgb(58, 153, 255);
    padding: 0.5%;
    border: 1cm;
    margin: 1%;
    border:none;
    border-radius:5%;
    cursor: pointer;
    
}

#button:hover{

    background-color: rgb(43, 36, 188);
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}


#container{
    text-align: center;
    font-size : 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#num{
    text-align: center;
    font-size: 30px;
}




